// Resets, Clearfix, etc
//@import 'partials/clearfix';
/* @import 'partials/reset'; */

// Variables
$bgColor: #031634;
$darkColor: #031634;
$lightColor: #E8DDCB;

$purple: purple;
$blue: #0000ff;
$red: #ff0000;
$gray-90: #b5b5b5;
$gray-30: #b7b7b7;

// Media Query Ranges
$medium: "only screen and (min-width: 600px)";
$large: "only screen and (min-width: 900px)";
$x-large: "only screen and (min-width: 1350px)";

* {
  font-family: 'Raleway', sans-serif;
  text-align:center;
  letter-spacing: 1px;
}

body {
  color: $lightColor;
  background-color: $bgColor;
  //background-image: url("/egbggrey.jpg");
  text-align: center;
/*   display:flex;
  flex-flow: row wrap; */
  align-items: center;
  margin: 0px;

  @media #{$medium}{
    .leftArrow {
      position: absolute;
      top: 45%;
      left: 3%;
    }

    .leftArrow:hover {
      opacity:0.7;
    }

    .rightArrow {
      position: absolute;
      top: 45%;
      right: 3%;
    }

    .rightArrow:hover {
      opacity:0.7;
    }
  }

  a:link {
    color: $darkColor;
    text-decoration: none;
  }
  a:visited {
    color: $darkColor;
  }
  a:hover {
    color: #444444;
  }
  a:active {
    color: $bgColor;
  }
}

.headerZero{
  flex: 1 1 auto;
  display:flex;
  flex-flow: row wrap;
  padding: 25px 25px 25px 25px;
}

.headerOne{
  display: inline-block;
  flex: 1 1 45%;
  margin: auto;
}

.headerTwo{
  display: inline-block;
  flex: 1 1 45%;
  margin: auto;
}

#headerText {
  text-align: center;
  font-size: 3em;
  margin: 0px;
  font-family: 'Bungee Shade', cursive;
}

.category {
  display: block;
  .categoryTitle {
    font-weight: 700;
    font-size: 1.5em;
  }
  .individualCharts {
    //background-color:#c0c0c0;
    vertical-align: top;
    display: inline-block;
    margin: 0px;
    h4 {
      font-weight: 500;
      margin: 5px;
    }
    img {
      width: 150px;
      height: 150px;
      margin: 0px 15px 20px 15px;
    }
    img:hover {
      opacity:0.7;
      transition: all 0.1s ease-out;
    }
  }

  .individualCharts:hover {
    opacity:0.7;
    transition: all 0.1s ease-out;
  }
}

.individualCharts path{
  stroke: $darkColor;
  stroke-width: 0;
}

.leftArrow {
  position: absolute;
  top: 45%;
  left: 1%;
}

.leftArrow:hover {
  opacity:0.7;
}

#leftArrowPic {
  height: 100px;
  width: 75px;
}

.rightArrow {
  position: absolute;
  top: 45%;
  right: 1%;
}

.rightArrow:hover {
  opacity:0.7;
}

#rightArrowPic {
  height: 100px;
  width: 75px;
}

#page2Header {
  display: flex;
  flex-flow: row wrap;
}

.page2Divs {
  flex: 1 1 auto;
}

#FTworkPercent {
  font-size: 5em;
  vertical-align: top;
}




.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}


.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    color: $lightColor;
    stroke: $lightColor;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    color: $lightColor;
    stroke: $lightColor;
}

.c3-axis-y text {
   fill: $lightColor;
   font-size:12px;
}
.c3-axis-x text {
    fill: $lightColor;
    font-size:12px;
}

.c3-legend-item text { stroke: $lightColor; }

.c3-tooltip-item text { color: #000000; }

/* .c3 path, .c3 line, .tick text {
  stroke: white;
} */