// Resets, Clearfix, etc
//@import 'partials/clearfix';
/* @import 'partials/reset'; */

// Variables
$bgColor: #031634;
$darkColor: #031634;
$lightColor: #E8DDCB;

$purple: purple;
$blue: #0000ff;
$red: #ff0000;
$gray-90: #b5b5b5;
$gray-30: #b7b7b7;

//palette from colour lovers
$dark-gray: rgb(54,54,54);
$medium-gray: rgb(77,77,77);
$light-gray: rgb(223,223,223);
$daBlue: rgb(106,200,252);
$orange-colour: rgb(253,198,79);

// Media Query Ranges
$medium: "only screen and (min-width: 600px)";
$large: "only screen and (min-width: 900px)";
$x-large: "only screen and (min-width: 1350px)";

* {
  font-family: 'Raleway', sans-serif;
  text-align:center;
  letter-spacing: 1px;
}

body {
  color: $lightColor;
  background-color: $bgColor;
  // background-image: url(../img/rockywall.png);
  text-align: center;
/*   display:flex;
  flex-flow: row wrap; */
  align-items: center;
  margin: 0px;

  @media #{$medium}{
    .leftArrow {
      position: absolute;
      top: 45%;
      left: 3%;
    }

    .leftArrow:hover {
      opacity:0.7;
    }

    .rightArrow {
      position: absolute;
      top: 45%;
      right: 3%;
    }

    .rightArrow:hover {
      opacity:0.7;
    }
  }

  a:link {
    color: $darkColor;
    text-decoration: none;
  }
  a:visited {
    color: $darkColor;
  }
  a:hover {
    color: #444444;
  }
  a:active {
    color: $bgColor;
  }
}

.headerZero{
  flex: 1 1 auto;
  display:flex;
  flex-flow: row wrap;
  padding: 25px 25px 25px 25px;
}

.headerOne{
  display: inline-block;
  flex: 1 1 45%;
  margin: auto;
}

.headerTwo{
  display: inline-block;
  flex: 1 1 45%;
  margin: auto;
}

#headerText {
  text-align: center;
  font-size: 3em;
  margin: 0px;
  font-family: 'Bungee Shade', cursive;
}

.category {
  display: block;
  .categoryTitle {
    font-weight: 700;
    font-size: 1.5em;
  }
  .individualCharts {
    //background-color:#c0c0c0;
    vertical-align: top;
    display: inline-block;
    margin: 0px;
    h4 {
      font-weight: 500;
      margin: 5px;
    }
    img {
      width: 150px;
      height: 150px;
      margin: 0px 15px 20px 15px;
    }
    img:hover {
      opacity:0.7;
      transition: all 0.1s ease-out;
    }
  }

  .individualCharts:hover {
    opacity:0.7;
    transition: all 0.1s ease-out;
  }
}

.individualCharts path{
  stroke: $darkColor;
  stroke-width: 0;
}

.leftArrow {
  position: absolute;
  top: 45%;
  left: 1%;
}

.leftArrow:hover {
  opacity:0.7;
}

#leftArrowPic {
  height: 100px;
  width: 75px;
}

.rightArrow {
  position: absolute;
  top: 45%;
  right: 1%;
}

.rightArrow:hover {
  opacity:0.7;
}

#rightArrowPic {
  height: 100px;
  width: 75px;
}

#page2Header {
  display: flex;
  flex-flow: row wrap;
}

.page2Divs {
  flex: 1 1 auto;
}

#FTworkPercent {
  font-size: 5em;
  vertical-align: top;
}



.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

/* .arc path {
  stroke: #000000;
} */

.c3-chart-arc path {
    stroke: #000;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    color: $lightColor;
    stroke: $lightColor;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    color: $lightColor;
    stroke: $lightColor;
}

.c3-axis-y text {
   fill: $lightColor;
   font-size:12px;
}
.c3-axis-x text {
    fill: $lightColor;
    font-size:12px;
}

.c3-legend-item text { stroke: $lightColor; }

.c3-tooltip-item text { color: #000000; }

/* #chartDegreeBig path{
  stroke: $darkColor;
  stroke-width: 0;
} */



/* .c3 path, .c3 line, .tick text {
  stroke: white;
} */

#megaContainer{
/*  border-width: 2px;
  border-style: solid;
  border-color: yellow;*/
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

#pageThreeContainer{
/*  border-width: 2px;
  border-style: solid;*/
  /*border-color: blue;*/
  width: 280px;
  display: flex;
  flex-direction: column;
}

/*.pageThreePersonArea {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
}*/

.pageThreePicContainer {
  display: flex;
/*  border-width: 2px;
  border-style: solid;*/
  /*border-color: blue;*/
  border-radius: 5px 0px 0px 5px;
  height: 274px;
  width: 270px;
  justify-content: center;
}

.pageThreePic {
  border-width: 2px;
  border-style: solid;
  border-color: $orange-colour;
  border-radius: 5px;
  margin-top: 3%;
  height: 250px;
  width: 250px;
}

#aboutMeDiv{
/*  border-width: 2px;
  border-style: solid;*/
  /*border-color: purple;*/
  width: 100%;
  height: 1103px;
}

.pageThreeAboutMe{
/*  border-width: 2px;
  border-style: solid;*/
  /*border-color: green;*/
  border-radius: 0px 5px 5px 0px;
  width: 99.5%;
  height: 548px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


.innerDivStyle{
  background-color: $medium-gray;
  color: $light-gray;
  padding: 1%;
}

.innerDivStyle h4{
  color: $daBlue;
  margin-bottom: -1px;
}

.innerDivStyle ul{
  margin-left: -20px;
}

.ourSummary{
  display: flex;
/*  border-width: 2px;
  border-style: solid;
  border-color: magenta;*/
  border-radius: 5px;
  height: 250px;
  width: 60%;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.favoriteTech{
  display: flex;
/*  border-width: 2px;
  border-style: solid;
  border-color: orange;*/
  border-radius: 5px;
  height: 250px;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.preBootcampQuestions{
  display: flex;
/*  border-width: 2px;
  border-style: solid;
  border-color: lime;*/
  border-radius: 5px;
  font-size: 10px;
  overflow: scroll;
  height: 250px;
  width: 30%;
  margin-left: auto;
  margin-bottom: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.myRecommendations{
  display: flex;
/*  border-width: 2px;
  border-style: solid;
  border-color: cyan;*/
  border-radius: 5px;
  height: 250px;
  width: 30%;
  margin-bottom: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.favResources{
  display: flex;
/*  border-width: 2px;
  border-style: solid;
  border-color: pink;*/
  border-radius: 5px;
  font-size: 14px;
  height: 250px;
  width: 30%;
  margin-right: auto;
  margin-bottom: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.aboutMeList{
  display: flex;
  margin-right: auto;
  font-size: 12px;
  overflow: scroll;
}

.myFavTechList{
  display: flex;
  margin-right: auto;
}

.preBootcampQuestions{
  display: flex;
  margin-right: auto;
}

.myRecommendations{
  display: flex;
  margin-right: auto;
  font-size: 14px;
  overflow: scroll;
}

.favResources{
  display: flex;
  margin-right: auto;
}

.selectedSummaryStyle{
  background-color: rgb(54,54,54);
}

#mattsPic{
  background-image: url(http://www.vectorportal.com/img_novi/surfer-silhouette.jpg);
}
