/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
* {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  letter-spacing: 1px; }

body {
  font-family: 'Rajdhani', sans-serif;
  color: #E8DDCB;
  background-color: #3A3F48;
  text-align: center;
  overflow: auto; }
  @media only screen and (min-width: 600px) {
    body .leftArrow {
      position: absolute;
      top: 45%;
      left: 3%; }
    body .leftArrow:hover {
      opacity: 0.7; }
    body .rightArrow {
      position: absolute;
      top: 45%;
      right: 3%; }
    body .rightArrow:hover {
      opacity: 0.7; } }
  body a:link {
    color: #031634;
    text-decoration: none; }
  body a:visited {
    color: #031634; }
  body a:hover {
    color: #444444; }
  body a:active {
    color: #3A3F48; }

.headerZero {
  display: inline-block;
  width: 1275px;
  border: 0px solid #E8DDCB;
  padding: 1% 0px 1% 0px;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: top;
  text-align: left; }

.headerOne {
  display: inline-block;
  vertical-align: center;
  margin-left: 5%;
  margin: auto;
  text-align: left; }

.headerTwo {
  display: inline-block;
  vertical-align: center;
  align-self: right;
  margin-left: 10px; }

#headerText {
  color: #CDB380;
  font-size: 3em;
  font-weight: 900;
  font-weight: lighter;
  cursor: pointer; }

#p1PrimaryDiv {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  vertical-align: top;
  margin: 0px; }

#p1TopLeft {
  background-color: #2B2F37;
  display: inline-block;
  border: 0px solid #E8DDCB;
  flex: 1 1 30%;
  padding: 20px;
  margin: 0px 10px 0px 0px;
  vertical-align: top;
  text-align: left; }

#p1TopRight {
  background-color: #2B2F37;
  display: inline-block;
  border: 0px solid #E8DDCB;
  flex: 1 1 30%;
  padding: 20px;
  margin: 0px 0px 0px 10px;
  vertical-align: bottom;
  text-align: left; }

#p1Bottom {
  background-color: #2B2F37;
  display: inline-block;
  width: 1445px;
  border: 0px solid #E8DDCB;
  padding: 20px;
  margin: 20px 0px 0px 0px;
  vertical-align: top;
  text-align: left; }

#employmentFrontCharts {
  text-align: center; }

.chartDescription {
  font-style: italic;
  font-weight: 700;
  text-align: center; }

.category {
  display: block; }
  .category .categoryTitle {
    font-weight: 700;
    font-size: 1.5em; }
  .category .individualCharts {
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 10px 10px; }
    .category .individualCharts h4 {
      font-weight: 500;
      margin: 5px; }
    .category .individualCharts img {
      width: 150px;
      height: 150px;
      margin: 0px 15px 20px 15px; }
    .category .individualCharts img:hover {
      opacity: 0.7;
      transition: all 0.1s ease-out; }
  .category .individualCharts:hover {
    opacity: 0.7;
    transition: all 0.1s ease-out; }

.individualCharts path {
  stroke: #031634;
  stroke-width: 0; }

.leftArrow {
  position: absolute;
  top: 45%;
  left: 1%; }

.leftArrow:hover {
  opacity: 0.7;
  cursor: pointer; }

#leftArrowPic {
  height: 100px;
  width: 75px; }

.rightArrow {
  position: absolute;
  top: 45%;
  right: 1%;
  cursor: pointer; }

.rightArrow:hover {
  opacity: 0.7; }

#rightArrowPic {
  height: 100px;
  width: 75px; }

#page2Header {
  display: flex;
  flex-flow: row wrap; }

.page2Divs {
  flex: 1 1 auto; }

#FTworkPercent {
  font-size: 5em;
  vertical-align: top; }

.boldify {
  font-weight: 700; }
  .boldify a {
    text-decoration: none; }

.arc text {
  font: 10px sans-serif;
  text-anchor: middle; }

/* .arc path {
  stroke: #000000;
} */
.c3-chart-arc path {
  stroke: #000; }

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  color: #E8DDCB;
  stroke: #E8DDCB; }

.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  color: #E8DDCB;
  stroke: #E8DDCB; }

.c3-axis-y text {
  fill: #E8DDCB;
  font-size: 12px; }

.c3-axis-x text {
  fill: #E8DDCB;
  font-size: 12px; }

.c3-legend-item text {
  stroke: #E8DDCB; }

.c3-tooltip-item text {
  color: #000000; }

/* #chartDegreeBig path{
  stroke: $darkColor;
  stroke-width: 0;
} */
/* .c3 path, .c3 line, .tick text {
  stroke: white;
} */
#godContainer {
  display: flex;
  border: 2px solid #3A3F48;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }

#pageThreeContentDiv {
  display: flex;
  width: 90%;
  height: 600px;
  box-sizing: border-box;
  flex-flow: row wrap; }

#headshotContainer {
  height: 600px;
  width: 12%;
  box-sizing: border-box;
  flex-direction: column; }

.individualImgDiv {
  border: 2px dashed white;
  height: 150px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box; }
  .individualImgDiv:hover {
    border: 2px solid white; }

#personalInfoContainer {
  display: flex;
  background-color: #2b2f37;
  height: 600px;
  width: 88%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-flow: row wrap;
  transition: 0.25s;
  transition-timing-function: ease-out; }
  #personalInfoContainer.ng-hide {
    width: 0%; }

#aboutMeSummary {
  background-color: #3A3F48;
  display: flex;
  height: 48%;
  width: 70%;
  margin-top: 0.25%;
  margin-left: 1%;
  box-sizing: border-box;
  flex-direction: column; }
  #aboutMeSummary:hover {
    background-color: #434953; }
    #aboutMeSummary:hover .personalInfoHeader {
      letter-spacing: 2px; }

#favoriteTech {
  background-color: #3A3F48;
  display: flex;
  height: 48%;
  width: 27%;
  margin-right: 1%;
  margin-top: 0.25%;
  box-sizing: border-box;
  flex-direction: column; }
  #favoriteTech:hover {
    background-color: #434953; }
    #favoriteTech:hover .personalInfoHeader {
      letter-spacing: 2px; }

#preBootcampQs {
  background-color: #3A3F48;
  display: flex;
  height: 48%;
  width: 42%;
  margin-left: 1%;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  flex-direction: column; }
  #preBootcampQs:hover {
    background-color: #434953; }
    #preBootcampQs:hover .personalInfoHeader {
      letter-spacing: 2px; }

#recommendations {
  background-color: #3A3F48;
  display: flex;
  height: 48%;
  width: 32%;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  flex-direction: column; }
  #recommendations:hover {
    background-color: #434953; }
    #recommendations:hover .personalInfoHeader {
      letter-spacing: 2px; }

#favResources {
  background-color: #3A3F48;
  display: flex;
  height: 48%;
  width: 22%;
  margin-right: 1%;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  flex-direction: column; }
  #favResources:hover {
    background-color: #434953; }
    #favResources:hover .personalInfoHeader {
      letter-spacing: 2px; }

.personalInfoHeader {
  display: flex;
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
  font-size: 1.5em;
  transition: width 1s; }

.personalInfoContent {
  display: flex;
  height: 85%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center; }

.personalInfoBody {
  display: flex;
  height: 90%;
  width: 90%;
  justify-content: left;
  box-sizing: border-box;
  overflow-y: auto; }
  .personalInfoBody p {
    text-align: left; }
  .personalInfoBody li {
    text-align: left; }

#textBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  margin-left: 1%;
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  color: #E8DDCD;
  background-color: #2b2f37;
  border: 8px solid #E8DDCD;
  font-size: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888; }
  #textBubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #E8DDCD transparent transparent #E8DDCD; }
  #textBubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #2b2f37 transparent transparent #2b2f37; }

#exitButton {
  align-self: flex-start;
  cursor: pointer; }
  #exitButton:hover {
    text-shadow: 0.5px 0.5px #999999; }
